{% extends 'base.html' %}
{% block head %}
<title>Test App</title>
{% endblock head %}

{% block content %}
<div class="content mt-5">
  <h3>Are You Ready Testing | Test title: {{test.title}}</h3>
  <p>
    Details: There are <strong>{{test.question_set.all.count}}</strong> questions.
    <br>
    You Have total <strong>{{test.maximum_attemps}}</strong> attemps.
  </p>
  <p>Make sure this whole test time is inside of <strong>{{test.start_date}}</strong> and <strong>{{test.end_date}}</strong></p>
  <p>Author: <a href="#">@{{test.author.username}}</a></p>
  <a href="{% url 'test' test.id %}" class="btn btn-primary">Start Test</a>
  <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
</div>
{% endblock content %}