{% extends 'base.html' %}
{% block head %}
<title>Test - {{test.title}}</title>
{% endblock head %}

{% block content %}
<div class="content mt-3">
  <h3>{{test.title}}</h3>
  <form method="POST"  class="card p-3">
    {% csrf_token %}
    {% for q in questions %}
    <h5>{{forloop.counter}}. {{q.question}}</h5>
    <div class="form-check">
      <input type="radio" value="a" required name="{{q.id}}" class="form-check-input" id="{{q.id}}-a">
      <label for="{{q.id}}-a">{{q.a}}</label>
      <br>
      <input type="radio" value="b" required name="{{q.id}}" class="form-check-input" id="{{q.id}}-b">
      <label for="{{q.id}}-b">{{q.b}}</label>
      <br>
      <input type="radio" value="c" required name="{{q.id}}" class="form-check-input" id="{{q.id}}-c">
      <label for="{{q.id}}-c">{{q.c}}</label>
      <br>
      <input type="radio" value="d" required name="{{q.id}}" class="form-check-input" id="{{q.id}}-d">
      <label for="{{q.id}}-d">{{q.d}}</label>
    </div>
    <hr>
    {% endfor %}
    <br>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
  {% for i in test1 %}
   start date {{i.start_date.time}}  <br>
  end date    {{i.end_date.time}}
  {% endfor %}
</div>
{% endblock content %}
s=0
if a>0:
s+=1